.singUp{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
    background-color: #78D6C6;
    min-width: min-content;
    border-radius: 15px;
    width: min-content;
    padding: 10px;
}

.singUp input{
    display: flex;
    margin: 20px ;
}

.singUp p{
    display: flex;
    margin: 0px 100px ;
}

// .mainSignup{
//     display: list-item;
// background-color: #12486B;
// }